.edit_user{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    .edite_header{
        grid-column: span 12;
        display: flex;
        align-items: center;
        padding-block: 1rem;
        .edite_icon{
            font-size: 1.5rem;
            color: #40687E;
        }
        .user_name{
            width: 12rem;
            margin-left: 3rem;
            h2{
                display: inline-block;
                margin-right: 1rem;
                color: #2D2F31;
                font-weight: 600;
            }
        }

    }
    .form_body{
        padding-block: 1.5rem;
        grid-column: span 9;
        form{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
            gap: 0 5rem;
            .left{
                grid-column: 1 / 2;
            }
            .form_field{
                label{
                    margin-bottom: .3rem;
                    display: block;
                    color: #40687E;
                    font-weight: 600;
                    font-size: .9rem;
                    
                }
                label[for=Gender],
                label[for=f],
                label[for=m]{
                    display: unset;

                }
                padding-block: .5rem;
                input:not([type="radio"]){
                    padding-bottom: .5rem;
                    width: 350px;
                    border: 1px solid #D6D6D6;
                    height: 2.3rem;
                    padding: .5rem;
                    &:focus{
                        outline: none;
                    }
                }
                input[type="radio"]{
                    padding-bottom: .5rem;
                    margin-right: 1rem;
                }
                .gender_detils{
                    display: flex;
                    justify-content: space-between;
                }
                &:last-child{
                grid-column: span 2;
                justify-self: center;
                
                }
                &:last-child input{
                    width: 8rem;
                    height: 2.5rem;
                    // line-height: 2.5rem;
                    background-color: #D6D6D6;
                    color: #40687E;
                    border: 1px solid #D6D6D6;
                    border-radius: 6px;
                    font-weight: 600;
                    font-size: .9rem;
                }

            }

        }
     
    }
}