.edit_user{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    .edite_header{
        grid-column: span 12;
        display: flex;
        align-items: center;
        padding-block: 1rem;
        img{
            width: 150px;
            height: 150px;
            display: block;
            position: relative;
            &:hover{
            
                // background-image: url("/dist/img/overlay.png");
                filter: brightness(0.7);
                // display: block;

            }
        }
        .edite_icon{
            font-size: 1.5rem;
            color: #40687E;
        }
        .user_name{
            width: 12rem;
            margin-left: 3rem;
            h2{
                display: inline-block;
                margin-right: 1rem;
                color: #2D2F31;
                font-weight: 600;
                position: relative;
                // &:hover{
                //     // position: absolute;
                //     content: "";
                //     top: 0;
                //     left: 0;
                //     width: 50px;
                //     height: 50px;
                //     background-color: red;
                // }
            }
        }

    }
    .form_body{
        padding-block: 1rem;
        grid-column: span 9;
        form{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 0 3rem;
            .left{
                grid-column: 1 / 2;
                select{
                    background: rgba(255, 255, 255, 0.5);
                    border: 1px solid #D6D6D6;
                    width: 7.2rem;
                    padding: 0.4rem;
                    color: #6A6A6A;
                    font-size: 0.9rem;
                    font-weight: 500;
                }
                .gender_detils{
                    display: flex;
                    justify-content: space-between;
                    span{
                        label{
                            color: #777;
                            font-size: 0.8rem;
                        }
                        &:last-child{
                            margin-right: 6rem;
                        }
                    }
                }


            }
            .form_field{
                padding-block: .5rem;
                label{
                    margin-bottom: .3rem;
                    display: block;
                    color: #40687E;
                    font-weight: 600;
                    font-size: .9rem;
                    
                }
                label[for=Gender],
                label[for=f],
                label[for=m]{
                    display: unset;

                }
                input#phone{
                    width: 61%;
                }
                input:not([type="radio"]){
                    padding-bottom: .5rem;
                    width: 350px;
                    border: 1px solid #D6D6D6;
                    height: 2.3rem;
                    padding: .5rem;
                    background: rgba(255, 255, 255, 0.5);
                    border: 1px solid #D6D6D6;
                    &:focus{
                        outline: none;
                    }
                }
                input[type="radio"]{
                    padding-bottom: .5rem;
                    margin-right: 1rem;
                }


                &:last-child{
                grid-column: span 2;
                justify-self: center;
                
                }
                &:last-child input{
                    width: 8rem;
                    height: 2.5rem;
                    // line-height: 2.5rem;
                    background-color: #D6D6D6;
                    color: #40687E;
                    border: 1px solid #D6D6D6;
                    border-radius: 6px;
                    font-weight: 600;
                    font-size: .9rem;
                    transition: ease-in-out .3s;
                    &:hover{
                        background: rgba(64, 104, 126, 0.12);
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        font-weight: 600;
                        background-color: #D6D6D6;
                        cursor: pointer;
                    }

                    
                }

            }

        }
     
    }
}