.more_about_order{
    display: flex;
    justify-content: space-between;
}

.container_about{
    display: grid;
    grid-template-columns: repeat(12, 1fr);  
    border: 1px solid #B4BEC5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 95%;
    margin: auto;
    margin-bottom: 1.5rem;
    a{
        margin: auto;
        grid-column: 5;
        background: rgba(64, 104, 126, 0.12);
        border: 1px solid #A2BBC9;
        border-radius: 7px;
        font-size: .8rem;
        font-weight: 500;
        color: #40687E;
        padding: .4rem .7rem;

    }
}
#On_Progress .order_product.price{
    padding-bottom: 2rem;
    border:none
}
#On_Progress  .about_more{
    display: flex;
    width: 14rem;
    height:5rem;
    .product_about{
        span{
            font-size: 13px;
            color: #40687E;
            font-weight: 500;
        }
        p{
            font-size: .7rem;
            color: #777777;
            font-weight: 400;
            
        }
    }
   
    
}
.product_img{
    margin-block: 1rem;
    margin-right: 2rem;
    grid-column: 2 ;
    width: 100px;
    height: 120px;
    background-color: #fff;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    img{
        display: block;
        object-fit: contain;
        width: 90px;
        height: 65px;
        align-self: center;
        padding: .3rem .5rem;
    }
}
#On_Progress .Shipping_Details{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1rem;
    .shipping_detail{
        background-color: #fff;
        // height: 224px;
        // width: 80%;
        border-radius: 18px;
        text-align: left;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-inline: 1rem;
        padding-bottom: 2rem;
        h3{
            color: #40687E;
            text-align: center;
            padding-block: 1.3rem;
            border-bottom: 1px solid #EDEDED;
            font-weight: 600;
            font-size: 1rem;
        }
        h4{
            color: #40687E;
            font-size: 1rem;
            padding-block: .9rem;
        }
        span{
            color: #777777;
            font-size: .8rem;
            padding-block: .5rem;
            display: block;
        }
        p{
            color: #777777;
            font-size: .7rem;
            max-width: 66%;
        }

    }
    .payment{
        background-color: #fff;
        // height: 224px;
        // width: 80%;
        border-radius: 18px;
        text-align: left;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-inline: 1rem;
        // padding-bottom: 3rem;
        h3{
            color: #40687E;
            text-align: center;
            padding-block: 1.3rem;
            border-bottom: 1px solid #EDEDED;
            font-weight: 600;
            font-size: 1rem;
        }
        p{
            color: #40687E;
            padding: .5rem 0 1rem 0;
        }
        h5{
            font-size: 1rem;
            color: #40687E;
            font-weight: 600;
        }
        .price{
            display: flex;
            justify-content: space-between;
            span{
                color: #777777;
                font-size: .8rem;
                font-weight: 400;
            }
        }
        .amount{
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
            padding: 0.7rem 0;
            span{
                color: #777777;
                font-size: .8rem;
                font-weight: 400;
            }
        }
        .total{
            display: flex;
            justify-content: space-between;
            padding-block: 1rem;
            border-top: 1px solid #EDEDED;
            span{
                color: #135C9E;
                font-size: .9rem;
                font-weight: 400;
            }
        }
    }
}