.more_about_order{
    display: flex;
    justify-content: space-between;
}

.container_about{
    display: grid;
    grid-template-columns: repeat(12, 1fr);  
    border: 1px solid #B4BEC5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 95%;
    margin: auto;
    a{
        margin: auto;
        grid-column: 5;
        background: rgba(64, 104, 126, 0.12);
        border: 1px solid #A2BBC9;
        border-radius: 7px;
        font-size: .8rem;
        font-weight: 500;
        color: #40687E;
        padding: .4rem .7rem;

    }
}
#On_Progress .order_product{
    padding-bottom: 2rem;
}
#On_Progress  .about_more{
    display: flex;
    width: 14rem;
    height:5rem;
    .product_about{
        span{
            font-size: 13px;
            color: #40687E;
            font-weight: 500;
        }
        p{
            font-size: .7rem;
            color: #777777;
            font-weight: 400;
            
        }
    }
   
    
}
.product_img{
    margin-block: 1rem;
    margin-right: 2rem;
    grid-column: 2 ;
    width: 100px;
    height: 120px;
    background-color: #fff;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    img{
        display: block;
        object-fit: contain;
        width: 90px;
        height: 65px;
        align-self: center;
        padding: .3rem .5rem;
    }
}
#On_Progress .Shipping_Details{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    .shipping_detail{

        height: 224px;
width: 448px;
border-radius: 18px;

    }
    .payment{

    }
}