.orders{
    padding-top: 2rem;
    .order_head{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 2rem;
        h3{
            grid-column: span 2;
            font-size: 1.5rem;
            font-weight: 600;
            color: #414446;
        }
        form{
            grid-column: 5/-1;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            position: relative;
            .search-name-order{
                grid-column: 1 / 4;
                position: relative;
                .search_icon{
                    color: #fff;
                    background-color: #40687e;
                    padding: 8px 11px;
                    position: absolute;
                    right: 23px;
                    border-radius: 11px 0 11px;
                    top: 16px;
                    transform: translate(60% ,-50%)
                }
            }
            .order-date{
                grid-column: 5 / -1;
                .arrow_icon{
                    color: #fff;
                    background-color: #40687e;
                    padding: 8px 11px;
                    position: absolute;
                    right: 1px;
                    border-radius: 11px 0 11px;
                }
            }
            input{
                border: 1px solid rgba(64, 104, 126, 0.35);
                background: rgba(184, 184, 184, 0.12);
                padding: .4rem;
                border-radius: .7rem 0;
                width: 100%;
                
                &:focus{
                    outline: none;
                    
                }
                &::placeholder{
                    font-size: .8rem;
                    font-weight: 600;
                    color: #C1C1C1;
                }
            }
            img{
                position: absolute;
                left: 20rem;
            }
        }
    }
    .order_nav{
        margin-top: 1rem;
        nav{
            ul{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                font-size: .9rem;
                li{
                    button{
                        font-size: .9rem;
                        color: #40687E;
                        padding: .4rem .5rem;;
                        border-radius: .8rem;
                        border: 1px solid #A2BBC9;
                        font-weight: 500;
                        cursor: pointer;
                        transition: ease-in .2s;
                        &:hover{
                            background: rgba(64, 104, 126, 0.12);
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            font-weight: 600;
                        }
                        &.active{
                            background: rgba(64, 104, 126, 0.12);
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            font-weight: 600;    
                        }
                    }
                }
                li:first-child{
                    grid-column: 3 / span 2;
                }
                li:nth-child(2){
                    grid-column: span 2;
                }
                li:nth-child(3){
                    grid-column: span 2;
                }
                li:nth-child(4){
                    grid-column: span 2;
                }
            }
        }
    }
        .order_product{
            margin-top: 1rem;
            border: 1px solid #B0B5B8;
            .product_head{
                display: flex;
                justify-content: space-around;
                text-align: center;
                font-size: .9rem;
                background: rgba(21, 60, 81, 0.12);
                padding-block: .5rem;
                border: 1px solid #B0B5B8;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                .product_info{
                    grid-column: span 2;
                    p{
                        color: #40687E;
                        font-weight: 600;
                        margin-bottom: .3rem;
                    }
                    span{
                        color: #777777;
                        font-size: .8rem;
                        font-weight: 500;
                    }
                }
            }
            .product_body{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                padding-block: .3rem;
                position: relative;
                .splide{
                    grid-column: span 12;
                    
                }
                .splide__list{
                    margin-left: 10px;
                }

                   
                        .product_img{
                            margin-block: 1rem;
                            margin-left: 1rem;
                        
                            grid-column: span 1 ;
                            width: 100px;
                            height: 120px;
                            background-color: #fff;
                            display: grid;
                            place-items: center;
                            border-radius: 1rem;
                            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
                           
                            img{
                                display: block;
                                object-fit: contain;
                                width: 90px;
                                height: 65px;
                                align-self: center;
                                padding: .3rem .5rem;
                            }
                            a{
                                font-size: .7rem;
                                color: #40687E;
                                background-color: #ECEFF0;
                                padding: .3rem .5rem;
                                border-radius: 6px;
                                margin-top: -.3rem;
                                border: 1px solid #A2BBC9;
                                font-weight: 500;
                                margin-top: -1rem;
                                transition: ease-in-out .3s;
                                &:hover{
                                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                    background: #63889D;
                                    border: 1px solid #A2BBC9;
            
                                    color: #fff;
                                }
                            }
            
                        }
                    }
           
            
        }
        

 
    [data-tab-content]{
        display: none;
    }
    .active[data-tab-content]{
        display: grid;
    }
    #On_Progress{
        .progress{
            grid-column: 2/ -1;
            display: grid;
            grid-template-columns: repeat(12, 1fr);

            align-items: center;
            padding-block: 2rem;
            
        }
        .progress_icone{
            grid-column: 1 / 3;
            justify-self: end;
            .ship_icone{
                color: #40687E;
                font-size: 1.5rem;
                margin-right: 0.5rem;
            }
            h3{
                display: inline-block;
                color: #40687E;
                font-weight: 600;
            }
        }
        .timeLine{
            grid-column: 4 /-1;
            position: relative;
            width: 90%;
            margin: auto;
        }
        .timeLine ul{
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        .timeLine li:before{
            content: "";
            position: relative;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: 45%;
            display: block;
            z-index: 1;
            background-color: #40687E;;
        }
      
        .timeLine li{
            width: 20%;
            text-align: center;
            position: relative;
            font-size: .9rem;
            z-index: 1;
            color: #40687E;
            
        }
        .timeLine li span{
            margin-top: .5rem;
            display: block;
            color: #40687E;
            font-weight: 500;
            
        }
        .timeLine li:last-child span{
            color: #C1C1C1;
        }
        .timeLine li:last-child::before{
            background-color: #C1C1C1;
        }

        .timeLine .line{
            width: 80%;
            position: absolute;
            margin: auto;
            left: 10%;
            top: 4px;
            border-radius: 50px;
            height: 2px;
            background: #C1C1C1
            
        }
        .timeLine .line .inner_line{
            content: "";
            width: 66%;
            height: 100%;
            background: #40687E;
            
        }
        .product_img.prog_first {
            grid-column: 2/ 3 ;
        }
        .product_img {
            grid-column: 3/4;
        }
    }


    #Delivered_orders{
        .progress{
            grid-column: 2/ -1;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            align-items: center;
            padding-block: 2rem;
            
        }
        .progress_icone{
            grid-column: 1/ 4;
            .ship_icone{
                color: #40687E;
                font-size: 1.5rem;
                margin-right: 0.5rem;
            }
            h3{
                display: inline-block;
                color: #40687E;
                font-weight: 600;
            }
        }
        .timeLine{
            grid-column: 4 /-1;
            position: relative;
            width: 90%;
            margin: auto;
        }
        .timeLine ul{
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        .timeLine li:before{
            content: "";
            position: relative;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: 45%;
            display: block;

            z-index: 11111;
            background-color: #40687E;;
        }
      
        .timeLine li{
            width: 21%;
            text-align: center;
            position: relative;
            font-size: .9rem;
            z-index: 2;
            color: #40687E;
            
        }
        .timeLine li span{
            margin-top: .5rem;
            display: block;
            color: #40687E;
            font-weight: 500;
            
        }
        .timeLine .line{
            width: 80%;
            position: absolute;
            margin: auto;
            left: 10%;
            top: 3px;
            border-radius: 50px;
            height: 2px;
            background: #C1C1C1
            
        }
        .timeLine .line .inner_line{
            content: "";
            width: 100%;
            height: 100%;
            background: #40687E;
            
        }
        .prog_first { 
            grid-column: 2 ;
        }
    }

    #Returned_orders{
        .progress{
            grid-column: 2/ -1;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            align-items: center;
            padding-block: 2rem;
            
        }
        .progress_icone{
            grid-column: 1 / 4;
            img{
                width: 25px;
                vertical-align: bottom;
                margin-right: 0.2rem;
            }
            h3{
                color: #40687E;
                font-weight: 600;
                font-size: 1.25rem;
            }
            .ship_icone{
                color: #40687E;
                font-size: 1.5rem;
                margin-right: 0.5rem;
            }
            h3{
                display: inline-block;
                color: #40687E;
                font-weight: 600;
            }
        }
        .timeLine{
            grid-column: 5 /-1;
            position: relative;
            width: 90%;
            margin: auto;
        }
        .timeLine ul{
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        .timeLine li:before{
            content: "";
            position: relative;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: 45%;
            display: block;

            z-index: 11111;
            background-color: #40687E;;
        }
      
        .timeLine li{
            width: 20%;
            text-align: center;
            position: relative;
            font-size: .9rem;
            z-index: 2;
            color: #40687E;
            
        }
        .timeLine li span{
            margin-top: .5rem;
            display: block;
            color: #40687E;
            font-weight: 500;
            
        }

        .timeLine .line{
            width: 80%;
            position: absolute;
            margin: auto;
            left: 10%;
            top: 3px;
            border-radius: 50px;
            height: 2px;
            background: #C1C1C1
            
        }
        .timeLine .line .inner_line{
            content: "";
            width: 100%;
            height: 100%;
            background: #40687E;
            
        }
        .prog_first { 
            grid-column: 2 ;
        }
    }
}










@media (max-width: 1400px) {
    .progress{
        .progress_icone{
            grid-column: 1/4;
            h3{
                font-size: 1rem;
            }
            .ship_icone{
                font-size: 1.2rem;
            }
        }
        .timeLine{
            li{
                width: 22%;
                span{
                    font-size: 0.8rem;
                }
            } 
        } 
    }
}



/* Large Screen */

@media (max-width: 1200px) {

    .orders{
        h3{
            font-size: 1rem;
        }
        .order_nav{                                                                                                                                 
            nav{
                ul{
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
        
        #On_Progress{
            .progress{
                .progress_icone{
                    grid-column: 1/4;
                    h3{
                        font-size: 1rem;
                    }
                    .ship_icone{
                        font-size: 1.2rem;
                    }
                }
                .timeLine{
                    li{
                        width: 22%;
                        span{
                            font-size: 0.8rem;
                        }
                    } 
                } 
            }
        }
        #Delivered_orders {
            .progress{
            
                .timeLine{
                    li{
                        width: 22%;
                    }
                    .line{
                        width: 78%;
                        left: 11%;
                        top: 4px;
                    }

                } 
            }
        }
        #Returned_orders{
            .progress_icone{
                grid-column: 1/ 4;
                img{
                    width: 23px;
                }
                h3{
                    font-size: 1rem;
                }
            }
        }
    }
    
}


@media (max-width: 992px) {
    .orders{
        .order_head{
            input{
                &::placeholder{
                    font-size: 1rem;
                }
            }
            h3{
                font-size: 1rem;
            }
        }
        .order_nav{
            nav{
                ul{
                   display: flex;
                   justify-content: space-around;
                }
            }
        }
        .order_product{
            .product_head {
                padding-block: .4rem;
                .product_info {
                    p{
                        font-size: 0.8rem;
                    }
                    span{
                        font-size: 0.78em;
                        font-weight: 600;
                    }
                }
            }
            .product_body{
                padding-block: 0;
                .product_img{
                    width: 100px;
                    height: 110px;
                    a{
                        font-size: 0.7rem;             
                        padding: 0.3rem 0.2rem;
                    }
                } 
            }
        }
        #On_Progress{
            .progress{
                .progress_icone{
                    grid-column: 1/4;
                    h3{
                        font-size: 1rem;
                    }
                    .ship_icone{
                        font-size: 1.2rem;
                    }
                }
                .timeLine{
                    li{
                        width: 23%;
                        span{
                            font-size: 0.7rem;
                        }
                    } 
                } 
            }
        }
        #Delivered_orders {
            .progress{
                .progress_icone{
                    grid-column: 1/4;
                    h3{
                        font-size: 1rem;
                    }
                    .ship_icone{
                        font-size: 1.2rem;
                    }
                }
                .timeLine{
                    width: 98%;
                    li{
                        width: 22%;
                        span{
                            font-size: 0.7rem;
                        }
                    }
                    .line{
                        width: 78%;
                        left: 11%;
                    }

                } 
            }
        }
        #Returned_orders{
            .progress_icone{
                grid-column:1/ 4;
                img{
                    width: 23px;
                }
                h3{
                    font-size: 1rem;
                }
            }
        }
    }
}



@media (max-width: 768px){
    .orders{
        padding-top: 2rem;
        .order_head{
            margin-bottom: 1rem;
            form {
                input {
                    padding: .3rem;
                    &::placeholder{
                        font-size: .6rem;
                        vertical-align: top;
                
                    }
                }
                .search-name-order{
                    .search_icon{
                        padding: 7px 8px;
                        top: 15px;
                        right: 20px;
                    }
                    
                }
                .order-date{
                    .arrow_icon{
                        padding: 7px 8px;
                        top: 0;
                        right: 0;
                    }
                }

            }
            h3{
                font-size: 1rem;
            }
        }
        .order_nav{
            nav{
                ul{
                   display: flex;
                   justify-content: space-around;

                   li{
                    button{
                        font-size: 0.8rem;
                    }
                   }
                }
            }
        }
        .order_product{
            .product_head {
                padding-block: .4rem;
                .product_info {
                    p{
                        font-size: 0.7rem;
                    }
                    span{
                        font-size: 0.7em;
                    }
                }
            }
            .product_body{
                padding-block: 0;
                .product_img{
                    width: 90px;
                    height: 110px;
                    margin-left: 0.5rem;
                    a{
                        font-size: 0.6rem;
                    }
                } 
            }
        }
        #On_Progress{
            .progress{
                .progress_icone{
                    grid-column: 1/4;
                    h3{
                        font-size: .85rem;
                    }
                    .ship_icone{
                        font-size: 1.2rem;
                        margin: 0;
                    }
                }
                .timeLine{
                    li{
                        width: 22%;
                        span{
                            font-size: 0.63rem;
                        }
                    } 
                } 
            }
        }
        #Returned_orders{
            .progress_icone{
                grid-column:1/ 4;
                img{
                    width: 23px;
                }
                h3{
                    font-size: 1rem;
                }
            }
        }
    } 
}

@media (max-width: 576px) {  
    .orders{
        margin-top: 1rem;
        .order_head{
            margin-block: 2rem;
            h3{
                font-size: 1rem;
                grid-column: span 3;
                align-self: center;
                
            }
            form{
                .search-name-order{
                    grid-column: 2/ -1;
                }
                .order-date{
                    display: none;
                }
            }
        }
        .order_product{
            .product_body{
                .product_img{
                    margin-left: 1.2rem;
                }
            }
        }  
        #On_Progress{
            
            .progress{
                .progress_icone{
                    display: none;
                }
                .timeLine{
                    grid-column: 1/-1;
                }
            }
            .about_more{
                width: 100%;
            }
        }
        #Delivered_orders{
            .progress{
                .progress_icone{
                    display: none;
                }
                .timeLine{
                    grid-column: 1/-1;
                }
            }
        }
        #Returned_orders{
            .progress_icone{
                grid-column: 1/8;
            }
        }
    }
}


