.return_popup{
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50% , -50%) scale(0);
    width: 590px;
    max-width: 80%;
    background-color: #fff;
    z-index: 10;
    transition: 200ms ease-in-out;
    &.active{
        transform: translate(-50% , -50%) scale(1);
    }
    .return_head {
        padding: 1rem .9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #F0F0F0;
        h3 {
            color: #40687E;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            img{
                width: 24px;
                vertical-align: bottom;
                margin-left: .5rem;
            }
        }
        .close-button{
            background-color: transparent;
            border: none;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .return_product{
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .reason_of_return {
            h3{
                font-size: .98rem;
                font-weight: 500;
                color: #777;
                margin-bottom: 1.5rem;
            }
            select{
                background: rgba(247, 246, 246, 0.5);
                border: 1px solid #D6D6D6;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                width: 100%;
                padding: 0.5rem;
                font-size: .95rem;
                color: #C1C1C1;
                &:focus{
                    outline: none;
                }
                option{
                    font-size: .8rem;
                    padding: 10px;
                    display: block;
                    
                }
            }
        }
        .return{
            width: 26%;
            background: #FCFCFC;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
            border-radius: 17px;
            padding: 1.5rem;
            margin-right: 2rem;
            .product_about {
                margin-top: .3rem;
                span{
                    color: #40687E ;
                    font-size: 0.8rem;
                    font-weight: 500;
                }
                p{
                    font-size: .7rem;
                    font-weight: 400;
                    color: #777;
                }

            }
        }
      
    }
    .send{
        padding-top: 8rem;
         padding-bottom: 2rem;
        button{
            display: block;
            margin: auto;
            color: #40687E ;
            background: rgba(64, 104, 126, 0.12);
            border: 1px solid #D6D6D6;
            border-radius: 13px;
            padding: .6rem 1.3rem;
            font-weight: 600;
            cursor: pointer;
        }
    }
}

#overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(64, 104, 126, 0.12);
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
    &.active{
        opacity: 1;
        pointer-events:all;
    }
}





@media (max-width: 768px){
    .return_popup{
        width: 470px;
        .return_product{
            justify-content: space-between;
            .return{
                margin-top: 1rem;
                width: 150px;
            }
            .reason_of_return{
                h3{
                    font-size: .8rem;
                }
            }
        }
        .send{
            padding-top: 1rem;
        }
    }
}


@media (max-width: 576px) { 
    .return_popup{
        height: 444px;
        top: 55%;
        left: 50%;
        .return_head {
            padding: .8rem 1.9rem;
        }
            
        .return_product{
            align-items: center;
            flex-direction: column;
            .return{
                margin-top: 1rem;
                margin-right: 0;
                width: 150px;
                height: 180px;
            }
            .reason_of_return{
                h3{
                    font-size: .8rem;
                }
            }
        }
        .send{
            padding-top: 1rem;
            padding-bottom: .5rem;
        }
    }
    
 }