.sidebar 
    .sidebar_header
        img(src="img/avatar.png", alt="", srcset="")
        .profile_info
            p.name Rana AYDIN
            p.email ranaalmasaleh@gmail.com
        i.noti_icon.fa-solid.fa-bell
    .sidebar_body 
        nav 
            ul 
                li
                    a(href="#")
                        i.menu_icon.fa-solid.fa-user-pen 
                        | My Information  
                li    
                    a(href="#")
                        i.menu_icon.fa-solid.fa-truck-fast
                        | My Orders
                li 
                    a(href="#")
                        i.menu_icon.fa-regular.fa-heart
                        | My Favorites
                li
                    a(href="#")
                        i.menu_icon.fa-regular.fa-envelope 
                        | My Messages
                li
                    a(href="#")
                        i.menu_icon.fa-solid.fa-location-dot 
                        | My Address
                li
                    a(href="#")
                        i.menu_icon.fa-regular.fa-circle-question
                        | Support
    .sidebar_footer            
        button
            a(href="#")
                i.menu_icon.fa-solid.fa-arrow-right-from-bracket 
                | Log Out
            