.sidebar 
    .sidebar_header
        img(src="img/avatar.png", alt="", srcset="")
        .profile_info
            p.name naoras
            p.email naorasms@gmailcom
        <i class="noti_icon fa-solid fa-bell"></i>
    .sidebar_body 
        nav 
            ul 
                li
                    <i class="fa-solid fa-user-pen"></i>
                    a(href="#") My Information   
                li  
                    <i class="fa-solid fa-truck-fast"></i>
                    a(href="#") My Orders
                li
                    <i class="fa-regular fa-heart"></i>
                    a(href="#") My Favorites
                li
                    <i class="fa-regular fa-envelope"></i>
                    a(href="#") My Messages
                li
                    <i class="fa-solid fa-location-dot"></i>
                    a(href="#") My Address
                li
                    <i class="fa-regular fa-circle-question"></i>
                    a(href="#") Support
    .sidebar_footer            
        button 
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            a(href="#") Log Out
            