.sidebar 
    .sidebar_header
        img(src="img/avatar.png", alt="", srcset="")
        .profile_info
           
            p.name Rana AYDIN
            p.email ranaalmasaleh@gmail.com
            i.noti_icon.fa-regular.fa-bell
        //- i.noti_icon.fa-solid.fa-bell
    .sidebar_body 
        nav 
            ul 
                li
                    a(href="edite_user.html")
                        i.menu_icon.fa-solid.fa-user-pen 
                        span My Information  
                li    
                    a(href="my_orders.html")
                        i.menu_icon.fa-solid.fa-truck-fast
                        span My Orders
                li 
                    a(href="#")
                        i.menu_icon.fa-regular.fa-heart
                        span My Favorites
                li
                    a(href="#")
                        i.menu_icon.fa-regular.fa-envelope 
                        span My Messages
                li
                    a(href="#")
                        i.menu_icon.fa-solid.fa-location-dot 
                        span My Address
                li
                    a(href="#")
                        i.menu_icon.fa-regular.fa-circle-question
                        span Support
    .sidebar_footer            
        button
            a(href="#")
                i.menu_icon.fa-solid.fa-arrow-right-from-bracket 
                span Log Out
            