.orders
    .order_head 
        h3 My Order
        form(action="#")
            div
                input(type="search", name="search", placeholder="Search with product name")
                i.fa-solid.fa-magnifying-glass.search_icon
            div
                i.fa-solid.fa-arrow-down.arrow_icon
                input(type="text", name="text", placeholder="Order Date")
    .order_nav 
        nav
            ul 
                li
                    button.active(data-tab-target="#all_orders") All Order
                li
                    button(data-tab-target="#On_Progress") On Progress
                li 
                    button(data-tab-target="#Delivered_orders") Delivered orders
                li 
                    button(data-tab-target="#Returned_orders") Returned orders
    div#all_orders.active(data-tab-content)
        .order_product
            .product_head
                .product_info 
                    p Order Date 
                    span 22-09-2022 13:15
                .product_info 
                    p Product NO 
                    span 2
                .product_info 
                    p Delivery Situation 
                    span On Progress
                .product_info 
                    p  Estimated Delivery Date 
                    span 27-09-2022
                .product_info 
                    p Total
                    span 350TL
            .product_body
                .product_img 
                    img(src="img/pro_2.png", alt="pro_1")
                    a(href="more_about_order.html")  More Details
                .product_img 
                    img(src="img/pro_3.png", alt="pro_2")
                    a(href="#")  More Details
            
        .order_product
            .product_head
                .product_info 
                    p Order Date 
                    span 22-09-2022 13:15
                .product_info 
                    p Product NO 
                    span 1
                .product_info 
                    p Delivery Situation 
                    span Delivered
                .product_info 
                    p  Estimated Delivery Date 
                    span 27-09-2022
                .product_info 
                    p Total
                    span 350TL
            .product_body
                .product_img 
                    img(src="img/pro_1.png", alt="pro_1")
                    a(href="#")  More Details
    div#On_Progress(data-tab-content)
        .order_product
            .product_head
                .product_info 
                    p Order Date 
                    span 22-09-2022 13:15
                .product_info 
                    p Product NO 
                    span 2
                .product_info 
                    p Delivery Situation 
                    span On Progress
                .product_info 
                    p  Estimated Delivery Date 
                    span 27-09-2022
                .product_info 
                    p Total
                    span 350TL
            .product_body
                .progress
                    .progress_icone
                        i.fa-solid.fa-truck-fast.ship_icone
                        h3 On Shipping
                    .timeLine
                        ul
                            li: span order has Taken
                            li: span Being prepared
                            li: span Being Shipped
                            li: span Delivered 
                        .line
                            .inner_line        
                .product_img.prog_first 
                    img(src="img/pro_2.png", alt="pro_1")
                    a(href="#")  More Details
                .product_img 
                    img(src="img/pro_3.png", alt="pro_2")
                    a(href="#")  More Details
    div#Delivered_orders(data-tab-content)
        .order_product
            .product_head
                .product_info 
                    p Order Date 
                    span 22-09-2022 13:15
                .product_info 
                    p Product NO 
                    span 1
                .product_info 
                    p Delivery Situation 
                    span Delivered
                .product_info 
                    p  Estimated Delivery Date 
                    span 27-09-2022
                .product_info 
                    p Total
                    span 150TL
            .product_body
                .progress
                    .progress_icone
                        i.fa-solid.fa-truck-fast.ship_icone
                        h3 Shipped
                    .timeLine
                        ul
                            li: span Order has Taken
                            li: span Being prepared
                            li: span Being Shipped
                            li: span Delivered 
                        .line
                            .inner_line  
                .product_img.prog_first 
                    img(src="img/pro_1.png", alt="pro_1")
                    a(href="#")  More Details             
    div#Returned_orders(data-tab-content)
        .order_product
            .product_head
                .product_info 
                    p Order Date 
                    span 22-09-2022 13:15
                .product_info 
                    p Product NO 
                    span 1
                .product_info 
                    p Delivery Situation 
                    span On Progress
                .product_info 
                    p  Estimated Delivery Date 
                    span 27-09-2022
                .product_info 
                    p Total
                    span 350TL
            .product_body
                .progress
                    .progress_icone
                        <i class="fa-regular fa-turn-down-left"></i>
                        h3 Returned
                .product_img.prog_first 
                    img(src="img/pro_4.png", alt="pro_1")
                    a(href="#")  More Details 
    