.orders
    .order_head 
        h3 My Order
        form(action="#")
            div
                input(type="search", name="search", placeholder="Search with product name")
                i.fa-solid.fa-magnifying-glass.search_icon
            div
                i.fa-solid.fa-arrow-down.arrow_icon
                input(type="text", name="text", placeholder="Order Date")
    .order_nav 
        nav
            ul 
                li
                    button.active All Order
                li 
                    button On Progress
                li 
                    button Delivered orders
                li 
                    button Returned orders
    .order_product
        .product_head
            .product_info 
                p Order Date 
                span 22-09-2022 13:15
            .product_info 
                p Product NO 
                span 2
            .product_info 
                p Delivery Situation 
                span On Progress
            .product_info 
                p  Estimated Delivery Date 
                span 27-09-2022
            .product_info 
                p Total
                span 350TL
        .product_body
            .product_img 
                img(src="img/pro_2.png", alt="pro_1")
                a(href="#")  More Details
            .product_img 
                img(src="img/pro_3.png", alt="pro_2")
                a(href="#")  More Details
            
    .order_product
        .product_head
            .product_info 
                p Order Date 
                span 22-09-2022 13:15
            .product_info 
                p Product NO 
                span 2
            .product_info 
                p Delivery Situation 
                span On Progress
            .product_info 
                p  Estimated Delivery Date 
                span 27-09-2022
            .product_info 
                p Total
                span 350TL
        .product_body
            .product_img 
                img(src="img/pro_1.png", alt="pro_1")
                a(href="#")  More Details

                