.return_popup#modal.modal 
    .return_head 
        h3 return
            img(src="img/return.png", alt="", srcset="")
        button(data-close-button).close-button &times;
    .return_product 
        .reason_of_return 
            h3 Select The Reason Of Return Item
            select(name="") 
                option(value="") select Reason
                option(value="") Damage Iten
                option(value="") Not true Size 
                option(value="") Poor Quality
                option(value="") Looks Different
                option(value="") Arrive Too Late
                option(value="") Other issue
        .return
            img(src="img/pro_2.png", alt="pro_1")
            .product_about 
                span Watch 
                p Lorem ipsum dolor sit amet.
                span 250TL
    .send 
        button Send
#overlay
