.review_popup#modal 
    .review_head 
        h3 Review 
        button(data-close-button).close-button &times;
    .review_product 
        .product_img.popup
            img(src="img/pro_2.png", alt="pro_1")
            .product_about 
                span Watch 
                p Lorem ipsum dolor sit amet, consectetur.
                span 250TL
    .rate_product
        h3 Please Rate The Product
        .rates
            span Rate Item 
            span ******
    .your_comment 
        form(action="") 
            .feild_comment
                .ur_comment
                    label(for="") Your Comment
                    textarea(name="", cols="45", rows="4" placeholder="your review about size and quality")
                .show_urName
                    input(type="checkbox", name="")
                    label(for="") Show your name with comment
            .feild_submit
                input(type="submit", value="Send")
#overlay
